@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


.font-lato {
  font-family: Lato;
}
.font-lora {
  font-family: Lora;
}
.font-archivo {
  font-family: Archivo;
}
.font-montserrat {
  font-family: Montserrat;
}
.font-poppins {
  font-family: Poppins;
}
.font-slabo {
  font-family: Slabo;
}
.font-crimson {
  font-family: Crimson Text;
}

body {
  font-family: Archivo;
}
