/* Table settings */

.table-container {
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 95%;
  margin: auto;
  overflow-x: auto;
}

.table th, td {
  padding: 15px;
}


.striped tr:nth-child(even) {
  background-color: lightgrey;
}


.all-center * {
  text-align: center;
}
