/* Text settings */

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-italics {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-strike {
  text-decoration: line-through;
}

.text-overline {
  text-decoration: overline;
}

/* Text settings - Children */

.children-text-bold * {
  font-weight: bold;
}

.children-text-italics * {
  font-style: italic;
}

.children-text-underline * {
  text-decoration: underline;
}

.children-text-strike * {
  text-decoration: line-through;
}

.children-text-overline * {
  text-decoration: overline;
}

/* Text sizes - Legacy */

.fixed-text-jumbo {
  font-size: 600%;
}

.fixed-text-xl {
  font-size: 500%;
}

.fixed-text-large {
  font-size: 400%;
}

/* Text sizes - Normal */

.text-jumbo {
  font-size: calc(5vw + 2em);
}

.text-xl {
  font-size: calc(4vw + 1.5em);
}

.text-large {
  font-size: calc(3vw + 1em);
}

.text-medium {
  font-size: 300%;
}

.text-small {
  font-size: 200%;
}

.text-xs {
  font-size: 150%;
}

.text-tiny {
  font-size: 100%;
}

/* Text sizes - Legacy - Children */

.children-fixed-title-jumbo {
  font-size: 600%;
}

.children-fixed-title-xl {
  font-size: 500%;
}

.children-fixed-title-large {
  font-size: 400%;
}

/* Text sizes - Normal - Children */

.children-text-jumbo * {
  font-size: 600%;
  font-size: calc(5vw + 2em);
}

.children-text-xl * {
  font-size: 500%;
  font-size: calc(4vw + 1.5em);
}

.children-text-large * {
  font-size: 400%;
  font-size: calc(3vw + 1em);
}

.children-text-medium * {
  font-size: 300%;
}

.children-text-small * {
  font-size: 200%;
}

.children-text-xs * {
  font-size: 150%;
}

.children-text-tiny * {
  font-size: 100%;
}
